* {
    margin: 0;
    box-sizing: border-box;
}
td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: url(./p1.jpg);
}

#lado-esquerdo {
    
}

#texto-chamativo {
    margin: 50px;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(210 210 210 / 75%);
}

#texto-chamativo > h2 {
    margin-top: 30px;
}

#texto-chamativo > h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.titSocio{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#lado-direito {
background: linear-gradient(rgb(6, 63, 6),white,red);
    padding: 30px;
}
#paiform{
    display: flex;
    margin: 0;
}
#direita{
    margin-left: 30%;
}
.campo-formulario {
    /* padding-left: 20px; */
    margin-top: 15px;
}

.campo-formulario label,
.campo-formulario input {
    display: block;
    width: 100%;
}

.campo-formulario:nth-child(3) { 
    /* background-color: red; */
}

#select-tipo-vinho {
    width: 100%;
}
#tabSocio{
display: flex;
}
.socioCenter{
    text-align: center;
    color: darkslategray;
    font-size: x-large;
}
#botao-enviar {
    margin-top: 40%;
    background: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    float: right;
    cursor: pointer;
}

#botao-enviar:hover {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    #container {
        flex-direction: column;
    }

    #texto-chamativo > h1 {
        font-size: 1.5em;
    }
}