* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: aliceblue;
  font-size: xx-large;
  bottom: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: url(./p1.jpg) ;
}
  
#boxe-mensagem {
  width: 100%;
  margin-left: 0;
  text-align: center;
  margin-top: 200px;
  margin-right: 0; 
 font-size: 1.5em;
  padding-left: 400px;
}

#icone-enviado {
  width: 50px;
  margin-bottom: 20px;
}